// Generated by swift-openapi-generator, do not modify.
@_spi(Generated) public import OpenAPIRuntime
#if os(Linux)
@preconcurrency public import struct Foundation.URL
@preconcurrency public import struct Foundation.Data
@preconcurrency public import struct Foundation.Date
#else
public import struct Foundation.URL
public import struct Foundation.Data
public import struct Foundation.Date
#endif
import HTTPTypes
/// 只含 /v1/client。由 scripts/export_contract.py 导出，不要手改。
///
/// **只增不减**（架构铁律 5）：可以加字段，不能删字段或改字段含义。侧载安装的客户端更新滞后，手机上大概率长期跑着旧版本。
///
/// **capabilities 区分「没数据」和「没实现」**：一个 null 字段本身是歧义的，`root_known: null` 可能是「这个词没有词根」，也可能是「水平估计还没做」，而客户端要把这两种画成不同的样子。
///
/// **幂等键重复上报算正常，不算错误**：离线客户端会把拿不准的都重发一遍。
///
/// **今日包不含真题**：真题走 /library?source=cet4|cet6|kaoyan。
public struct Client: APIProtocol {
    /// The underlying HTTP client.
    private let client: UniversalClient
    /// Creates a new client.
    /// - Parameters:
    ///   - serverURL: The server URL that the client connects to. Any server
    ///   URLs defined in the OpenAPI document are available as static methods
    ///   on the ``Servers`` type.
    ///   - configuration: A set of configuration values for the client.
    ///   - transport: A transport that performs HTTP operations.
    ///   - middlewares: A list of middlewares to call before the transport.
    public init(
        serverURL: Foundation.URL,
        configuration: Configuration = .init(),
        transport: any ClientTransport,
        middlewares: [any ClientMiddleware] = []
    ) {
        self.client = .init(
            serverURL: serverURL,
            configuration: configuration,
            transport: transport,
            middlewares: middlewares
        )
    }
    private var converter: Converter {
        client.converter
    }
    /// 上报词池快照
    ///
    /// 整份替换这个学习者的词池快照。
    ///
    /// **PUT 而不是 POST**：它是替换，不是追加。语义上说对了，重试也就天然安全——
    /// 同一份快照报两遍和报一遍结果一样。
    ///
    /// - Remark: HTTP `PUT /v1/client/progress/pool`.
    /// - Remark: Generated from `#/paths//v1/client/progress/pool/put(report_pool_v1_client_progress_pool_put)`.
    public func report_pool_v1_client_progress_pool_put(_ input: Operations.report_pool_v1_client_progress_pool_put.Input) async throws -> Operations.report_pool_v1_client_progress_pool_put.Output {
        try await client.send(
            input: input,
            forOperation: Operations.report_pool_v1_client_progress_pool_put.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/client/progress/pool",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .put
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.report_pool_v1_client_progress_pool_put.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.PoolSnapshotResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.report_pool_v1_client_progress_pool_put.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 文章清单
    ///
    /// The library.
    ///
    /// There is no ``/today``: deciding what someone should read today needs the
    /// ability estimate and the selection logic, both of which are P3. The library
    /// is not a stopgap for that — the intended shape is "a few articles are
    /// prepared each day, you pick the ones you feel like", which is a list and a
    /// choice. ``/today`` will be *added* later, which rule 5 permits.
    ///
    /// - Remark: HTTP `GET /v1/client/library`.
    /// - Remark: Generated from `#/paths//v1/client/library/get(library_v1_client_library_get)`.
    public func library_v1_client_library_get(_ input: Operations.library_v1_client_library_get.Input) async throws -> Operations.library_v1_client_library_get.Output {
        try await client.send(
            input: input,
            forOperation: Operations.library_v1_client_library_get.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/client/library",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "shelf",
                    value: input.query.shelf
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "source",
                    value: input.query.source
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "sort",
                    value: input.query.sort
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "desc",
                    value: input.query.desc
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.library_v1_client_library_get.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.LibraryResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.library_v1_client_library_get.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 一篇文章的全部内容
    ///
    /// Text, sentences, every token's analysis, every gloss, and your marks.
    ///
    /// One response, then no further requests while reading. An article still being
    /// prepared comes back with a ``preparing`` block instead of an error — lazy
    /// ingest means asking for one is normal, not a mistake.
    ///
    /// - Remark: HTTP `GET /v1/client/articles/{article_id}`.
    /// - Remark: Generated from `#/paths//v1/client/articles/{article_id}/get(article_v1_client_articles__article_id__get)`.
    public func article_v1_client_articles__article_id__get(_ input: Operations.article_v1_client_articles__article_id__get.Input) async throws -> Operations.article_v1_client_articles__article_id__get.Output {
        try await client.send(
            input: input,
            forOperation: Operations.article_v1_client_articles__article_id__get.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/client/articles/{}",
                    parameters: [
                        input.path.article_id
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.article_v1_client_articles__article_id__get.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ArticleResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.article_v1_client_articles__article_id__get.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 按序号往后取事件（多设备同步用）
    ///
    /// 这个学习者的事件，序号大于 ``after`` 的那些。
    ///
    /// **P9 §6:同步要变双向。** 在这之前只有上报——一台设备把事件送上来，
    /// 而另一台设备永远看不到它。多设备要一个会合点，这就是那个会合点的读取口。
    ///
    /// **序号是 `client_events.id`，不是新造的东西。** 那张表从 P2 起就是
    /// ``AUTOINCREMENT``，它一直是「服务端收到即分配的单调序号」；
    /// 再造一个会得到第二个顺序，然后两个顺序说反话。
    /// **服务端只存不解释**（架构铁律 2 的后半句），所以 `payload` 原样回去。
    ///
    /// **拉回自己推上去的事件是正常的。** 游标是「大于某个号」，而自己的事件也在
    /// 那个号后面。客户端按 `idem_key` 认出来并跳过——**这比让服务端按设备过滤好**:
    /// 按设备过滤要服务端知道「哪台设备产生了哪条」，而设备换了令牌就不认了，
    /// 那时它会以为自己的历史不存在。
    ///
    /// **GET 而不是 POST，`after` 在查询串里**:它是一次读取，缓存与重试的语义
    /// 都该按读取来。
    ///
    /// - Remark: HTTP `GET /v1/client/events`.
    /// - Remark: Generated from `#/paths//v1/client/events/get(event_feed_v1_client_events_get)`.
    public func event_feed_v1_client_events_get(_ input: Operations.event_feed_v1_client_events_get.Input) async throws -> Operations.event_feed_v1_client_events_get.Output {
        try await client.send(
            input: input,
            forOperation: Operations.event_feed_v1_client_events_get.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/client/events",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "after",
                    value: input.query.after
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "limit",
                    value: input.query.limit
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.event_feed_v1_client_events_get.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.EventFeedResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.event_feed_v1_client_events_get.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 批量上报交互事件
    ///
    /// Accepts duplicates by design — a retry is the protocol working.
    ///
    /// - Remark: HTTP `POST /v1/client/events`.
    /// - Remark: Generated from `#/paths//v1/client/events/post(report_events_v1_client_events_post)`.
    public func report_events_v1_client_events_post(_ input: Operations.report_events_v1_client_events_post.Input) async throws -> Operations.report_events_v1_client_events_post.Output {
        try await client.send(
            input: input,
            forOperation: Operations.report_events_v1_client_events_post.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/client/events",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.report_events_v1_client_events_post.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.EventBatchResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.report_events_v1_client_events_post.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 今天要复习的全部内容
    ///
    /// - Remark: HTTP `GET /v1/client/reviews`.
    /// - Remark: Generated from `#/paths//v1/client/reviews/get(reviews_v1_client_reviews_get)`.
    public func reviews_v1_client_reviews_get(_ input: Operations.reviews_v1_client_reviews_get.Input) async throws -> Operations.reviews_v1_client_reviews_get.Output {
        try await client.send(
            input: input,
            forOperation: Operations.reviews_v1_client_reviews_get.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/client/reviews",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.reviews_v1_client_reviews_get.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ReviewDayResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.reviews_v1_client_reviews_get.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 打卡日历与连续天数
    ///
    /// The last ``days`` days and the streak.
    ///
    /// **A new endpoint rather than fields on `/reviews`.** 跨 Phase 不变量 only
    /// allows obvious shapes to be reserved in place; a list of days is not one, so
    /// it arrives as its own endpoint the way the invariant says complex additions
    /// should.
    ///
    /// - Remark: HTTP `GET /v1/client/reviews/calendar`.
    /// - Remark: Generated from `#/paths//v1/client/reviews/calendar/get(reviews_calendar_v1_client_reviews_calendar_get)`.
    public func reviews_calendar_v1_client_reviews_calendar_get(_ input: Operations.reviews_calendar_v1_client_reviews_calendar_get.Input) async throws -> Operations.reviews_calendar_v1_client_reviews_calendar_get.Output {
        try await client.send(
            input: input,
            forOperation: Operations.reviews_calendar_v1_client_reviews_calendar_get.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/client/reviews/calendar",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "days",
                    value: input.query.days
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.reviews_calendar_v1_client_reviews_calendar_get.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.CalendarResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.reviews_calendar_v1_client_reviews_calendar_get.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 上报一次作答
    ///
    /// - Remark: HTTP `POST /v1/client/reviews/answer`.
    /// - Remark: Generated from `#/paths//v1/client/reviews/answer/post(report_answer_v1_client_reviews_answer_post)`.
    public func report_answer_v1_client_reviews_answer_post(_ input: Operations.report_answer_v1_client_reviews_answer_post.Input) async throws -> Operations.report_answer_v1_client_reviews_answer_post.Output {
        try await client.send(
            input: input,
            forOperation: Operations.report_answer_v1_client_reviews_answer_post.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/client/reviews/answer",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.report_answer_v1_client_reviews_answer_post.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.AnswerResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.report_answer_v1_client_reviews_answer_post.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 批量上报作答（离线补报用）
    ///
    /// Replay a day's answers in order, skipping anything already recorded.
    ///
    /// **Why this exists at all.** ``/reviews`` has always been offline-shaped —
    /// every card ships with its sentences — but the answer path was one online
    /// POST per question with no key and no queue, so review failed on every
    /// question without a connection while reading carried on fine. That broke
    /// 架构铁律 2 for half the product, and 读后抽查 being dropped left review as
    /// the only place the learner produces anything.
    ///
    /// **Order matters and is the client's.** A review session is a state machine:
    /// passing 看词想义 unlocks 看义想词, failing it locks it again. So the batch is
    /// applied in the order given, not concurrently, and a failure in the middle
    /// stops nothing — the remaining answers still apply, and the one that failed
    /// is reported with its key so the client can decide.
    ///
    /// The single-answer endpoint stays exactly as it was. 架构铁律 5 is only
    /// additive, and a client written against it keeps working untouched.
    ///
    /// - Remark: HTTP `POST /v1/client/reviews/answers`.
    /// - Remark: Generated from `#/paths//v1/client/reviews/answers/post(report_answers_v1_client_reviews_answers_post)`.
    public func report_answers_v1_client_reviews_answers_post(_ input: Operations.report_answers_v1_client_reviews_answers_post.Input) async throws -> Operations.report_answers_v1_client_reviews_answers_post.Output {
        try await client.send(
            input: input,
            forOperation: Operations.report_answers_v1_client_reviews_answers_post.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/client/reviews/answers",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.report_answers_v1_client_reviews_answers_post.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.AnswersResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.report_answers_v1_client_reviews_answers_post.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 上报一次拼写
    ///
    /// Recorded, never scheduled on.
    ///
    /// 决定 13 keeps spelling out of the scheduler entirely: it is an optional
    /// reinforcement, and letting it move due dates would mix a productive-recall
    /// difficulty into a recognition track. What is stored is what was typed, not
    /// just whether it was right — that is the whole value of the record.
    ///
    /// - Remark: HTTP `POST /v1/client/reviews/spelling`.
    /// - Remark: Generated from `#/paths//v1/client/reviews/spelling/post(report_spelling_v1_client_reviews_spelling_post)`.
    public func report_spelling_v1_client_reviews_spelling_post(_ input: Operations.report_spelling_v1_client_reviews_spelling_post.Input) async throws -> Operations.report_spelling_v1_client_reviews_spelling_post.Output {
        try await client.send(
            input: input,
            forOperation: Operations.report_spelling_v1_client_reviews_spelling_post.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/client/reviews/spelling",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.report_spelling_v1_client_reviews_spelling_post.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.SpellingResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.report_spelling_v1_client_reviews_spelling_post.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 批量上报拼写（离线补报用）
    ///
    /// The offline path for spelling, which P4 gave answers and not this.
    ///
    /// 決定 12 of P4 added a batch endpoint for answers because "地铁里每答一题都
    /// 失败" broke 架构前提 2 for half the product. Spelling was out of scope that
    /// day and kept its one-at-a-time online POST, so the last step of the day was
    /// still the one step that needed a network. Same store, same idempotency key,
    /// same per-item verdict as the answers batch — a client that already speaks
    /// that one needs no new vocabulary here.
    ///
    /// **Order does not matter here**, unlike answers: each attempt is an
    /// independent record, and spelling never touches the scheduler (决定 13). They
    /// are applied in the order given anyway, because replaying in sequence is
    /// what the client's outbox does.
    ///
    /// Re-applying an attempt whose first try failed writes a second row in
    /// `spelling_attempts`. That is a duplicate record rather than a wrong one —
    /// nothing reads the table to make a decision — and the alternative is the
    /// attempt being silently dropped.
    ///
    /// - Remark: HTTP `POST /v1/client/reviews/spellings`.
    /// - Remark: Generated from `#/paths//v1/client/reviews/spellings/post(report_spellings_v1_client_reviews_spellings_post)`.
    public func report_spellings_v1_client_reviews_spellings_post(_ input: Operations.report_spellings_v1_client_reviews_spellings_post.Input) async throws -> Operations.report_spellings_v1_client_reviews_spellings_post.Output {
        try await client.send(
            input: input,
            forOperation: Operations.report_spellings_v1_client_reviews_spellings_post.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/client/reviews/spellings",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.report_spellings_v1_client_reviews_spellings_post.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.SpellingsResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.report_spellings_v1_client_reviews_spellings_post.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 今日包：当天的文章与复习，一次拿全
    ///
    /// One response the client can work from all day without a network.
    ///
    /// New endpoint rather than fields added to an existing one — 架构铁律 5 lets
    /// us add, never change, and P2 deliberately left this shape unguessed
    /// (`phase-2.html` §6) rather than bolting an invented one onto `/articles`.
    ///
    /// **Does not include exam papers** (决定 9). They have their own entrance at
    /// ``/v1/client/library?source=cet4|cet6|kaoyan``. The response says so in
    /// ``excludes_exam_papers`` so a client cannot conclude otherwise by accident.
    ///
    /// **条件请求（2026-09-16 加）。** 这个包实测约 1 MB，而客户端每次开复习那一格
    /// 都要它——绝大多数时候内容跟手机上那份**一模一样**，却照样过一遍隧道
    /// （实测 0.85–1.4 秒，流量也是真金白银）。带 ``If-None-Match`` 来、内容没变，
    /// 就回 304 和零字节。
    ///
    /// **加的是一个响应头和一条分支，不是新字段**，所以老客户端一行不用改：
    /// 它不发 ``If-None-Match``，就永远走 200 那条路（铁律 5）。
    ///
    /// 哈希算的是**序列化之后的响应体**，不是它的某几个字段——任何一处变化都算变化，
    /// 包括复习进度、文章读到哪。宁可多发一次，也不能把变了的说成没变。
    ///
    /// - Remark: HTTP `GET /v1/client/today`.
    /// - Remark: Generated from `#/paths//v1/client/today/get(today_v1_client_today_get)`.
    public func today_v1_client_today_get(_ input: Operations.today_v1_client_today_get.Input) async throws -> Operations.today_v1_client_today_get.Output {
        try await client.send(
            input: input,
            forOperation: Operations.today_v1_client_today_get.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/client/today",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.today_v1_client_today_get.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.TodayResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.today_v1_client_today_get.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
}
